@using System.Web.Optimization


<div data-ng-view class="container"></div>

<!-- JavaScript -->
@section Scripts
{
    @Scripts.Render("~/site/Startup")
    @Scripts.Render("~/site/Controllers")
    @Scripts.Render("~/site/Dialogs")
    @Scripts.Render("~/site/Directives")
    @Scripts.Render("~/site/Services")    
}

